[submodule "vim/bundle/nord-vim"]
	path = vim/bundle/nord-vim
	url = https://github.com/arcticicestudio/nord-vim.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
