gtk-color-scheme = "background: #272e38"
gtk-color-scheme = "foreground: #C9BEB4"

gtk-color-scheme = "color0: #272e38"
gtk-color-scheme = "color1: #698898"
gtk-color-scheme = "color2: #5290A5"
gtk-color-scheme = "color3: #6F99A9"
gtk-color-scheme = "color4: #8B9CA5"
gtk-color-scheme = "color5: #93A5AD"
gtk-color-scheme = "color6: #A2A1A0"
gtk-color-scheme = "color7: #C9BEB4"
gtk-color-scheme = "color8: #7d8187"
gtk-color-scheme = "color9: #698898"
gtk-color-scheme = "color10: #5290A5"
gtk-color-scheme = "color11: #6F99A9"
gtk-color-scheme = "color12: #8B9CA5"
gtk-color-scheme = "color13: #93A5AD"
gtk-color-scheme = "color14: #A2A1A0"
gtk-color-scheme = "color15: #C9BEB4"
