gtk-color-scheme = "background: #0A0A13"
gtk-color-scheme = "foreground: #EFEFF1"

gtk-color-scheme = "color0: #0A0A13"
gtk-color-scheme = "color1: #A85892"
gtk-color-scheme = "color2: #D35B9D"
gtk-color-scheme = "color3: #6C97B4"
gtk-color-scheme = "color4: #9C9EAD"
gtk-color-scheme = "color5: #B2C0D6"
gtk-color-scheme = "color6: #D4D7DD"
gtk-color-scheme = "color7: #EFEFF1"
gtk-color-scheme = "color8: #6c6c71"
gtk-color-scheme = "color9: #A85892"
gtk-color-scheme = "color10: #D35B9D"
gtk-color-scheme = "color11: #6C97B4"
gtk-color-scheme = "color12: #9C9EAD"
gtk-color-scheme = "color13: #B2C0D6"
gtk-color-scheme = "color14: #D4D7DD"
gtk-color-scheme = "color15: #EFEFF1"
